body {
    background-image: url("table-top.jpg");
    background-size: cover;
    text-align: center;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: large;
}


.scum-button {
  background-color: red;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:x-large;
  margin-bottom: 20px;
}
.rules-button {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:x-large;
}
.home-button {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:x-large;
}

.title {
    margin-top: 10%;
    font-size: 500%;
    color: whitesmoke;
}

.card {
    width: 250;
    height: auto;
}

.rules {
    background-color: black;
    border-color: white;
    border-width: 5px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
}