html {
  overflow-y: scroll;
}
body {
    background-image: url("table-top.jpg");
    background-size: cover;
    text-align: center;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1200%;
}

.scum-button {
  background-color: red;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:x-large;
  margin-bottom: 20px;
}
.rules-button {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:x-large;
}
.home-button {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:x-large;
}

.title {
    margin-top: 10%;
    font-size: 500%;
    color: whitesmoke;
}


#card {
    margin-bottom: 10;
    width: 20px;
}

.suitRules {
  list-style-position: inside;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
  
}

.rules {
    background-color: black;
    border-color: white;
    border-width: 5px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
}


#hand-el {
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    top: 70%;
    transition: all 1s ease-in-out;
}

.startButton {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1000%;
  opacity: 1;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 8px 8px 3px rgba(2, 48, 19, 1);;
}

#testBtn {
    visibility: visible;
}

.gameButtons {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:x-large;
  visibility: hidden;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  box-shadow: 2px 2px 3px black;
}

#playCardBtn {
background-color: green;
}

#drawBtn {
background-color: red;
}

#passBtn {
    background-color: black
}

.card:hover {
    width: 8%;
}

